$container-width: 1170px;
$gray-1:     #cccccc;
$gray-2:     #898f8f;
$gray-3:     #666666;
$gray-4:     #333333;
$main-color: #ffcc00;

$font-main:      "Raleway", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-button:    "Open Sans", sans-serif;

