.divider {
  height: 20px;

  &::after {
    content: "";
    display: inline-block;
    position: relative;
    border: 0.5px solid $main-color;
    top: -10px;
    right: 0;
    width: 210px;
  }

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    border: 0.5px solid $main-color;
    top: -10px;
    left: 0;
    width: 210px;
  }

  &--top {
    &::before {
      content: "";
      position: absolute;
      border-top: 1px solid $main-color;
      border-right: 1px solid $main-color;
      top: 0;
      right: 0;
      width: 100px;
      height: 100px;
    }

    &::after {
      content: "";
      position: absolute;
      border-top: 1px solid $main-color;
      border-left: 1px solid $main-color;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  &--bottom {
    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid $main-color;
      border-right: 1px solid $main-color;
      bottom: 0;
      right: 0;
      width: 100px;
      height: 100px;
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: 1px solid $main-color;
      border-left: 1px solid $main-color;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  &--vertical {
    height: 560px;
    width: 0;
    border: 0.5px solid $main-color;
  }

  &--horizontal {
    width: 100px;
    height: 1px;
    border: 0.5px solid $main-color;
  }

  &--dotted {
    width: 20px;
    height: 1px;
    border: 2px solid $main-color;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -20px;
      width: 10px;

      border: 2px solid $main-color;
    }
    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 25px;
      width: 10px;

      border: 2px solid $main-color;
    }
  }
}
