.divider {
  height: 1px;

  &--header {
    height: 20px;
    &::after,
    &::before {
      content: '';
      display: inline-block;
      position: relative;
      border: 0.5px solid $main-color;
      top: -10px;
      right: 0;
      width: 210px;
    }
  }
  &--top {
    &::after,
    &::before {
      content: "";
      position: absolute;
      border-top: 1px solid $main-color;
      top: 0;
      width: 100px;
      height: 100px;
    }
    &::before {
      right: 0;
      border-right: 1px solid $main-color;
    }
    &::after {
      left: 0;
      border-left: 1px solid $main-color;
    }
  }

  &--bottom {
    &::after,
    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid $main-color;
      bottom: 0;
      width: 100px;
      height: 100px;
    }
    &::before {
      right: 0;
      border-right: 1px solid $main-color;
    }
    &::after {
      left: 0;
      border-left: 1px solid $main-color;
    }
  }

  &--vertical,
  &--horizontal {
    border: 0.5px solid $main-color;
  }

  &--vertical {
    height: 560px;
    width: 0;
  }

  &--horizontal {
    width: 100px;
    height: 1px;
  }

  &--dotted {
    width: 20px;
    height: 1px;
    border: 2px solid $main-color;
    position: relative;
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      width: 10px;
      border: 2px solid $main-color;
    }
    &::after {
      left: -20px;
    }
    &::before {
      left: 25px;
    }
  }
}
